# Local Government Corruption (v2)

missing_conventions:
  treat_as_na:
    codes: [-1, -2, 97, 98, 99]
    description: "Standard missing codes"

variables:
  - id: local_govt_corruption
    concept: local_government_corruption
    description: "Perception of corruption in local government"
    type: ordinal
    
    source:
      w1: q121
      w2: q118
      w3: q114
      w4: q113
      w5: q119
      w6: q119
    
    scale:
      min: 1
      max: 4
    
    harmonize:
      default:
        method: identity
    
    qc:
      valid_range: [1, 4]
      validate:
        - waves: [w1, w2, w3, w4, w5, w6]
          phrase: "corruption|government"
