# National Government Corruption (v2)

missing_conventions:
  treat_as_na:
    codes: [-1, -2, 97, 98, 99]
    description: "Standard missing codes"

variables:
  - id: national_govt_corruption
    concept: national_government_corruption
    description: "Perception of corruption in national government"
    type: ordinal
    
    source:
      w1: q120
      w2: q117
      w3: q113
      w4: q112
      w5: q118
      w6: q118
    
    scale:
      min: 1
      max: 4
    
    harmonize:
      default:
        method: identity
    
    qc:
      valid_range: [1, 4]
      validate:
        - waves: [w1, w2, w3, w4, w5, w6]
          phrase: "corruption|government"
