# Generated outputs
*.rds
*.RData
*.html
*.pdf
*.tex
*.docx
!manuscript/reference.docx
**/*.png
**/*.pdf
!output/manuscript/*.pdf
!output/manuscript/*.docx
.quarto/
**/*.quarto_ipynb

# Cache
*_cache/
*_files/

# Logs
logs/

/.quarto/
